:root {

  --primary: #2563eb;
  --secondary: #64748b;

  --font-main: 'Inter', sans-serif;

  --bg-light: #ffffff;
  --bg-section: #f8fafc;

}

body {
  font-family: var(--font-main);
  background: var(--bg-light);
}

html {
  scroll-behavior: smooth;
}
